In [2]:
from datetime import date

In [3]:
my_today = date.today()

In [5]:
my_today

datetime.date(2021, 2, 8)

In [6]:
print(my_today)

2021-02-08

In [7]:
my_today.year

2021

In [8]:
my_today.month

2

In [10]:
my_today.day

8

In [19]:
squ_dict={f"square of {i}":i**2 for i in range(10)}

In [20]:
squ_dict

{'square of 0': 0,
 'square of 1': 1,
 'square of 2': 4,
 'square of 3': 9,
 'square of 4': 16,
 'square of 5': 25,
 'square of 6': 36,
 'square of 7': 49,
 'square of 8': 64,
 'square of 9': 81}

In [25]:
L = ["right 20","right 30","left 50","up 10","down 20"]
xy=[0,0]
for i in L:
    if i.split()[0]=="right":
        xy[0]+=int(i.split()[1])
    elif i.split()[0]=="left":
        xy[0]-=int(i.split()[1])
    elif i.split()[0]=="up":
        xy[1]+=int(i.split()[1])
    elif i.split()[0]=="down":
        xy[1]-=int(i.split()[1])

In [26]:
print(xy)

[0, -10]

In [28]:
print("https://app.peardeck.com".startswith(("https","ahttps","shttp")))
print("https://app.peardeck.com".endswith(("co.de","co.en","com")))

True
True

In [35]:
dict_couple={"female": ["mary","bella","lolly"],
            "male": ["rye","fred","tom"]}

In [36]:
list(zip(dict_couple["female"],dict_couple["male"]))

[('mary', 'rye'), ('bella', 'fred'), ('lolly', 'tom')]

In [37]:
def marrys(x,y):
    couples=list(zip(x,y))
    print(couples)

marry(dict_couple["female"],dict_couple["male"])

[('mary', 'rye'), ('bella', 'fred'), ('lolly', 'tom')]

In [38]:
def marry(female,male):
    couple_list = []
    
    for i in zip(female,male):
        couple_list.append(i)
    return couple_list

In [39]:
marry(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('lolly', 'tom')]